<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regula Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Regula Tests">
        <classes>
            <class name="tests.TitlePageScreenshotTest"/>
            <class name="tests.TitlePageTest"/>
        </classes>
    </test>
</suite>